pytest==4.6.3
pinyin==0.4.0
Flask==1.0.3
PyYAML==5.1.1
gunicorn==19.9.0
boto3==1.9.169
python-dotenv==0.10.3
flask_sqlalchemy==2.4.0
psycopg2==2.8.3
# We use the development install of hanziconv that I forked.
git+https://github.com/ericmjl/hanziconv.git@add-preserve
