pytest==7.0.0
pinyin==0.4.0
Flask==2.0.2
PyYAML==5.3.1
gunicorn==20.0.4
boto3==1.16.43
python-dotenv==0.15.0
flask_sqlalchemy==2.4.4
psycopg2==2.8.6
# We use the development install of hanziconv that I forked.
git+https://github.com/ericmjl/hanziconv.git@add-preserve
