{% macro render_lyrics(section=None, lyrics=None, song_eid=None, loop_index=1) %}
<div class="col-3">
    <!-- Section Name -->
    <label for="section-{{ loop_index }}">Section Name</label>
    {% if not section %}
        <input class="form-control" type="text" name="section-{{ loop_index }}" value="section-{{ loop_index }}"></input>
    {% else %}
        <input class="form-control" type="text" name="section-{{ loop_index }}" value="{{ section }}"></input>
    {% endif %}

    <!-- Lyrics Text Box -->
    <label for="lyrics-{{ loop_index }}">Lyrics</label>
    {% if lyrics %}
        <textarea class="form-control" type="textarea" name="lyrics-{{ loop_index }}" rows=6>{{ lyrics }}</textarea>
    {% else %}
        <textarea class="form-control" type="textarea" name="lyrics-{{ loop_index }}" rows=6>Lyrics</textarea>
    {% endif %}

    <button class="btn btn-danger btn-sm" type="submit" name="button" formaction="/songs/{{ song_eid }}/remove_lyrics_section/{{ loop_index }}">Remove Section</button>

</div>
{% endmacro %}
