{% macro render_coworker_select(position, names, selected=None) %}
<div class="col-md-4" id="col-{{ position }}">
    <label for="{{ position }}">{{ position|capitalize }}</label>
    <select class="custom-select" name="{{ position }}" onchange="this.form.submit()">
        <option value=""></option>
        {% for p in names %}
            {% if selected and p['name'] == selected['name'] %}
                <option value="{{ p['eid'] }}" selected>{{ p['name'] }}</option>
            {% else %}
                <option value="{{ p['eid'] }}">{{ p['name'] }}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>
{% endmacro %}

{% macro render_song_select(song_type, songs, selected, arrangement=None) %}
<div class="col-md-3" id="col-song-{{ song_number }}">
    <p>
        <!-- Create dropdown menu for the songs, sorted by pinyin. -->
        <label for="{{ song_type }}">{{ song_type|capitalize }}</label>
        <select class="custom-select" name="{{ song_type }}" onchange="this.form.submit()">
            <option value=""></option>
            {% for s in songs|sort(attribute='pinyin') %}
                {% if selected and s['name'] == selected['name'] %}
                    <option value="{{ s['eid'] }}" selected>{{ s['name'] }}</option>
                {% else %}
                    <option value="{{ s['eid'] }}">{{ s['name'] }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </p>
    <p>
        <label for="{{ song_type }}_arrangement">Arrangement</label>
        {% if arrangement %}
            <input class="form-control" id="{{ song_type }}_arrangement" type="text" name="{{ song_type }}_arrangement" value="{{ arrangement }}">
        {% else %}
            <input class="form-control" id="{{ song_type }}_arrangement" type="text" name="{{ song_type }}_arrangement" value="{{ selected['default_arrangement'] }}">
        {% endif %}
    </p>
    <p>詩歌曲段</p>
    <p>
        {% for key, value in selected['lyrics'].items() %}
            <button class="btn btn-secondary" type="button" data-toggle="tooltip" data-placement="bottom" title="{{ value }}">{{ key }}</button>
        {% endfor %}
    </p>
</div>
{% endmacro %}
