<!-- A form to plan the Worship program -->

{% extends "master.html" %}

{% block title_extension %}
主日崇拜程序
{% endblock %}

{% block content %}
<form class="form-group" action="/programs/{{ program.eid }}/save" method="post">
    <div class="row" id="row-coworkers">
        <div class="col-2" id="col-presider">
            <label for="presider">領會</label>
            <select class="custom-select" name="presider">
                {% for name in presiders %}
                    {% if presider and name == presider %}
                        <option value="{{ name }}" selected>{{ name }}</option>
                    {% else %}
                        <option value="{{ name }}">{{ name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col-2" id="col-vocalist1">
            <label for="vocalist1">領唱（一）</label>
            <select class="custom-select" name="vocalist1">
                {% for name in vocalists %}
                    {% if vocalist1 and name == vocalist1 %}
                        <option value="{{ vocalist1 }}" selected>{{ vocalist1 }}</option>
                    {% else %}
                        <option value="{{ vocalist1 }}">{{ vocalist1 }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col-2" id="col-vocalist2">
            <label for="vocalist2">領唱（二）</label>
            <select class="custom-select" name="vocalist2">
                {% for name in vocalists %}
                    {% if vocalist2 and name == vocalist2 %}
                        <option value="{{ vocalist2 }}" selected>{{ vocalist2 }}</option>
                    {% else %}
                        <option value="{{ vocalist2 }}">{{ vocalist2 }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col-2" id="col-vocalist3">
            <label for="vocalist3">領唱（三）</label>
            <select class="custom-select" name="vocalist3">
                {% for name in vocalists %}
                    {% if vocalist3 and name == vocalist3 %}
                        <option value="{{ vocalist3 }}" selected>{{ vocalist3 }}</option>
                    {% else %}
                        <option value="{{ vocalist3 }}">{{ vocalist3 }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col-2" id="col-pianist">
            <label for="pianist">司琴</label>
            <select class="custom-select" name="pianist">
                {% for name in pianists %}
                    {% if pianist and name == pianist %}
                        <option value="{{ pianist }}" selected>{{ pianist }}</option>
                    {% else %}
                        <option value="{{ pianist }}">{{ pianist }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col-2" id="col-speaker">
            <label for="speaker">講員</label>
            <select class="custom-select" name="speaker">
                {% for name in speakers %}
                    {% if speaker and name == speaker %}
                        <option value="{{ speaker }}" selected>{{ speaker }}</option>
                    {% else %}
                        <option value="{{ speaker }}">{{ speaker }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row" id="row-songs">
        <div class="col-3" id="song1">
            <select class="" name="">
                {% for song in songs %}
                    {% if song1 and song == song1 %}
                        <option value="{{ song['name'] }}" selected>{{ song['name'] }}</option>
                    {% else %}
                        <option value="{{ song['name'] }}">{{ song['name'] }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col-3" id="song2">
            <select class="" name="">
                {% for song in songs %}
                    {% if song2 and song == song2 %}
                        <option value="{{ song['name'] }}" selected>{{ song['name'] }}</option>
                    {% else %}
                        <option value="{{ song['name'] }}">{{ song['name'] }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col-3" id="song3">
            <select class="" name="">
                {% for song in songs %}
                    {% if song3 and song == song3 %}
                        <option value="{{ song['name'] }}" selected>{{ song['name'] }}</option>
                    {% else %}
                        <option value="{{ song['name'] }}">{{ song['name'] }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
</form>
{% endblock %}
