<!-- A form to plan the Worship program -->
{% from "macros/program.html.j2" import render_coworker_select, render_song_select %}
{% extends "master.html.j2" %}

{% block extraheader %}
<script type="text/javascript">
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
</script>
{% endblock %}

{% block title_extension %}
主日崇拜程序
{% endblock %}

{% block content %}
<form class="form-group" action="/programs/{{ program.eid }}/update" method="post">
    <div class="form-group">
        <div name="id" class="form-group">
            <input type="hidden" name="id" value="{{ program.eid }}"></input>
        </div>
    </div>
    <div class="row" id="row-date">
        <div class="col-4">
            <label for="date">日期</label>
            {% if program['date'] %}
                <input type="date" name="date" value="{{ program['date'] }}" class="form-control">
            {% else %}
                <input type="date" name="date" value="" class="form-control">
            {% endif %}
        </div>
    </div>
    <hr>
    <div class="row" id="row-coworkers-1">
        {{ render_coworker_select('presider', coworkers['presiders'], selected=program['presider']) }}
    </div>
    <hr>
    <div class="row" id="row-coworkers-2">
        {{ render_coworker_select('vocalist1', coworkers['vocalists'], selected=program['vocalist1']) }}
        {{ render_coworker_select('vocalist2', coworkers['vocalists'], selected=program['vocalist2']) }}
        {{ render_coworker_select('vocalist3', coworkers['vocalists'], selected=program['vocalist3']) }}
    </div>
    <hr>
    <div class="row" id="row-coworkers-3">
        {{ render_coworker_select('pianist', coworkers['pianists'], selected=program['pianist']) }}
        {{ render_coworker_select('audio', coworkers['audios'], selected=program['audio'])}}
        {{ render_coworker_select('powerpoint', coworkers['powerpoints'], selected=program['powerpoint'])}}
    </div>
    <hr>
    <div class="row" id="row-coworkers-5">
        {{ render_coworker_select('speaker', coworkers['speakers'], selected=program['speaker']) }}
    </div>
    <hr>
    <div class="row" id="row-songs">
        {{ render_song_select('song1', songs, selected=program['song1'], arrangement=program['song1_arrangement']) }}
        {{ render_song_select('song2', songs, selected=program['song2'], arrangement=program['song2_arrangement']) }}
        {{ render_song_select('song3', songs, selected=program['song3'], arrangement=program['song3_arrangement']) }}
        {{ render_song_select('offering', songs, selected=program['offering'], arrangement=program['offering_arrangement']) }}
    </div>
    <hr>
    <div class="row" id="row-buttons">
        <div class="col-md-12">
            <div id="actions" class="form-group">
                <button class="btn btn-success btn-lg" type="submit" name="save" formaction="/programs/{{ program.eid }}/save">儲存</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}
