{% extends "master.html" %}

{% from "macros/lyrics.html" import render_lyrics %}

{% block content %}
<form class="form-group" method="post">
    <div class="row">
        <div class="form-group">
            <div name="id" class="form-group">
                <input type="hidden" name="id" value="{{ song.eid }}"></input>
            </div>
        </div>
    </div>
    <div class="row" id="row-name-source">
        <div class="col-3" id="div-name">
            <div name="name" class="form-group">
                <label for="name">詩歌歌名</label>
                    <input class="form-control" name="name" value="{{ song['name'] }}"></input>
            </div>
        </div>
        <div class="col-3" id="div-composer">
            <div name="composer" class="form-group">
                <label for="composer">詞曲</label>
                    <input class="form-control" name="composer" value="{{ song['composer'] }}"></input>
            </div>
        </div>
        <div class="col-3" id="div-copyright">
            <div name="copyright" class="form-group">
                <label for="copyright">版權</label>
                    <input class="form-control" name="copyright" value="{{ song['copyright'] }}"></input>
            </div>
        </div>
        <div class="col-3" id="div-ccli">
            <div name="ccli" class="form-group">
                <label for="ccli">CCLI</label>
                    <input class="form-control" name="ccli" value="{{ song['ccli'] }}"></input>
            </div>
        </div>

    </div>
    <hr>
    <div class="row" id="row-lyrics">
        {% if song and song['lyrics'] %}
            {% set counter = ['1'] %}
            {% for section, lyrics in song['lyrics'].items() %}
                {{ render_lyrics(section, lyrics, song.eid, loop.index) }}
                {% set _ = counter.append('1') %}
            {% endfor %}
            {% if add_section %}
                {{ render_lyrics(section, lyrics, song.eid, counter|length) }}
            {% endif %}
        {% else %}
            {{ render_lyrics(section, lyrics, song.eid) }}
        {% endif %}
    </div>
    <hr>
    <div class="row" id="row-add-section-button">
        <div class="col-12">
            <button class="btn btn-success btn-sm" type="submit" name="button" id="add-section-button" formaction="/songs/{{ song.eid }}/add_lyrics_section">Add Section</button>
        </div>
    <hr>
    </div>
        <button class="btn btn-primary btn-lg" type="submit" formaction="/songs/{{ song.eid }}/save">儲存</button>
        <button class="btn btn-danger btn-lg" type="submit" formaction="/songs/{{ song.eid }}/remove">刪除</button>
</form>

{% endblock %}
