{% extends "master.html" %}

{% block content %}
<form method="post">
    <div class="row">
        <div class="col-12">
            <div class="btn-toolbar">
                <button class="btn btn-success btn-lg" type="submit" formaction="/songs/add">增添</button>
                <button class="btn btn-danger btn-lg" type="submit" formaction="/songs/clean">清理數據庫</button>
            </div>
        </div>
    </div>
    <p>
    <!-- Table Section -->
    <div class="row">
        <table class="table table-hover">
            <tr>
                <th>歌名</th>
                <th>版權</th>
                <th>詞曲</th>
                <th>排版</th>
                <th></th>
            </tr>
            {% for song in all_songs %}
                <tr>
                    <td><a href="/songs/{{ song.eid }}/edit">{{ song['name'] }}</a></td>
                    <td>{{ song['copyright'] }}</td>
                    <td>{{ song['composer']|truncate(20) }}</td>
                    <td>{{ song['default_arrangement']|truncate(20) }}</td>
                    <td><a href="/songs/{{ song.eid }}/edit">剪輯</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</form>
{% endblock %}
