{% macro save_delete_buttons(song) %}
<button class="btn btn-success btn-lg" type="submit" formaction="/{{ song['id'] }}/save">
<i class="far fa-save"></i>
儲存
</button>
{# <a class="btn btn-danger btn-lg" href="/remove">刪除</a> #}
{% endmacro %}
