<!-- Renders the lyrics on each song's page for editing. -->
{% macro render_lyrics(section=None, lyrics=None, song_eid=None, loop_index=1) %}
<div class="col-3">
    <div class="row">
        <div class="col-12">
            <!-- Section Name -->
            <label for="section-{{ loop_index }}">曲段</label>
            {% if not section %}
                <input class="form-control" type="text" name="section-{{ loop_index }}" value="section-{{ loop_index }}"></input>
            {% else %}
                <input class="form-control" type="text" name="section-{{ loop_index }}" value="{{ section }}"></input>
            {% endif %}
        </div>
    </div>
    <p>
    <div class="row">
        <div class="col-12">
            <!-- Lyrics Text Box -->
            <label for="lyrics-{{ loop_index }}">歌詞</label>
            {% if lyrics %}
                <textarea class="form-control" type="textarea" name="lyrics-{{ loop_index }}" rows=6>{{ lyrics }}</textarea>
            {% else %}
                <textarea class="form-control" type="textarea" name="lyrics-{{ loop_index }}" rows=6>Lyrics</textarea>
            {% endif %}
        </div>
    </div>
    <p>
    <div class="row">
        <div class="col-12">
            <button class="btn btn-danger btn-sm" type="submit" formaction="/{{ song_eid }}/remove_lyrics_section/{{ loop_index }}"><i class="fas fa-minus-circle"></i> 刪除曲段</a>
        </div>

    </div>


</div>
{% endmacro %}
