{% extends "master.html.j2" %}

{% from "macros/linknames.html.j2" import render_link_names %}

{% block title_extension %}
    主日崇拜程序
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-8">
        <form method="post">
            <button class="btn btn-success btn-md" type="submit" formaction="/programs/add">增添</button>
        </form>
    </div>
    <div class="col-3">
        <form method="post">
            <!-- <label for="search">搜索</label> -->
            {% if term %}
                <input class="form-control" name="search" formaction="/songs/search" value="{{ term }}"></input>
            {% else %}
                <input class="form-control" name="search" formaction="/songs/search"></input>
            {% endif %}
        </div>
        <div class="col-1">
            <button class="btn btn-danger" type="submit" formaction="/songs/search">搜索</button>
        </form>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-12">
        <table class="table table-hover">
            <tr>
                <th>日期</th>
                <th>講員</th>
                <th>領會</th>
                <th>領唱</th>
                <th>司琴</th>
                <th>幻燈</th>
                <th>音控</th>
                <th>播放</th>
                <th>GS</th>
                <th></th>
            </tr>
            {% for program in all_programs|sort(attribute='date')|reverse %}
                <tr>
                    <td>
                        <a href="/programs/{{ program.eid }}/edit">{{ program['date'] }}</a>
                    </td>
                    <td>{{ render_link_names(program['speaker']) }}</td>
                    <td>
                        {{ render_link_names(program['presider']) }}
                    </td>
                    <td>
                        {% if program['vocalist1'] %}
                            {{ render_link_names(program['vocalist1']) }}
                        {% endif %}
                        {% if program['vocalist2'] %}
                            , {{ render_link_names(program['vocalist2']) }}
                        {% endif %}
                        {% if program['vocalist3'] %}
                            , {{ render_link_names(program['vocalist3']) }}
                        {% endif %}
                    </td>
                    <td>{{ render_link_names(program['pianist']) }}</td>
                    <td>{{ render_link_names(program['powerpoint']) }}</td>
                    <td>{{ render_link_names(program['audio']) }}</td>
                    <td>
                        <a href="/programs/{{ program.eid }}/slides">
                            <i class="fa fa-desktop" aria-hidden="true"></i>
                        </a>
                    </td>
                    <td>
                        {% if program['gsheets'] %}
                            <a href="https://docs.google.com/spreadsheets/d/{{ program['gsheets'] }}/edit#gid=0">
                                <i class="fa fa-google"></i>
                            </a>
                        {% endif %}
                    </td>
                    <td>{% if not program['date'] %}<a href="/programs/{{ program.eid }}/edit">剪輯</a>{% endif %}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
