{% extends "master.html.j2" %}

{% from "macros/lyrics.html.j2" import render_lyrics %}
{% from "macros/buttons.html.j2" import save_delete_buttons %}
{% block title_extension %}
    {{ song['name'] }}
{% endblock %}

{% block content %}
<form class="form-group" method="post" enctype=multipart/form-data>
    <div class="row">
        <div class="col-12">
            {{ save_delete_buttons(song) }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <h1>歌曲信息</h1>
            <div class="form-group">
                <div name="id" class="form-group">
                    <input type="hidden" name="id" value="{{ song['id'] }}"></input>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="row-name-source">
        <div class="col-3" id="div-name">
            <div name="name" class="form-group">
                <label for="name">詩歌歌名</label>
                <input class="form-control" name="name" value="{{ song['name'] }}"></input>
            </div>
        </div>
        <div class="col-3" id="div-composer">
            <div name="composer" class="form-group">
                <label for="composer">詞曲</label>
                <input class="form-control" name="composer" value="{{ song['composer'] }}"></input>
            </div>
        </div>
        <div class="col-3" id="div-copyright">
            <div name="copyright" class="form-group">
                <label for="copyright">版權</label>
                <input class="form-control" name="copyright" value="{{ song['copyright'] }}"></input>
            </div>
        </div>
        <div class="col-3" id="div-ccli">
            <div name="ccli" class="form-group">
                <label for="ccli">CCLI號碼</label>
                <input class="form-control" name="ccli" value="{{ song['ccli'] }}"></input>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <h1>歌詞</h1>
        </div>
    </div>
    <div class="row" id="div-default_arrangement">
        <div class="col-9" name="default_arrangement">
            <label for="default_arrangement">默認排版</label>
            <input class="form-control" type="text" name="default_arrangement" value="{{ song['default_arrangement'] }}">
        </div>
        <div class="col-3" name="slides_button">
            <label for="">選項</label>
            <p> <a href="/{{ song['id'] }}/slides" class="btn btn-primary btn-md">幻燈片</a> </p>
        </div>
    </div>
    <p>
    <div class="row" id="row-lyrics">
        {% if song and song['lyrics'] %}
            {% set counter = ['1'] %}
            {% for section, lyrics in song['lyrics'].items() %}
                {{ render_lyrics(section, lyrics, song['id'], loop.index) }}
                {% set _ = counter.append('1') %}
            {% endfor %}
        {% else %}
            {{ render_lyrics(section, lyrics, song['id']) }}
        {% endif %}
    </div>
    <br>
    <div class="row" id="row-button-update">
        <div class="col-12">
            <button class="btn btn-primary btn-sm" type="submit" name="refresh" formaction="/{{ song['id'] }}/update">更新</button>
            <button class="btn btn-success btn-sm" type="submit" name="add-lyrics-section" id="add-section-button" formaction="/{{ song['id'] }}/add_lyrics_section">增添曲段</button>
        </div>
    </div>
    <div class="row" id="row-add-section-button">
        <div class="col-12">
        </div>
    </div>
    <hr>
    <div class="row" id="row-upload-sheet-music-button">
        <div class="col-6">
            <h1>歌譜</h1>
            {% if song['sheet_music'] %}
                {% if song['pdf_preview'] %}
                    <p>點擊下載歌譜</p>
                    <a href="/{{ song['id'] }}/sheet_music/download">
                        <img src="data:image/jpg;base64, {{ song.pdf_preview }}"></img>
                    </a>
                    <p>
                        <a class="btn btn-success btn-sm" href="/{{ song['id'] }}/preview">更新預覽</a>
                        <a class="btn btn-danger btn-sm" href="/{{ song['id'] }}/sheet_music/delete">刪除歌譜</a>
                    </p>
                {% else %}
                    <p>
                        <a class="btn btn-danger btn-sm" href="/{{ song['id'] }}/sheet_music/delete">刪除歌譜</a>
                        <a class="btn btn-success btn-sm" href="/{{ song['id'] }}/preview">創造預覽</a>
                    </p>
                {% endif %}
            {% else %}
            <label for="file-upload" class="custom-file" class="btn btn-default">
                增添歌譜
            </label>
            <input type="file" name="file-upload">
            <button class="btn btn-success btn-sm" type="submit" name="upload-button" formaction="/{{ song['id'] }}/sheet_music/upload">上傳</button>
            {% endif %}
        </div>
        <div class="col-6">
            <h1>視頻</h1>
            {% if song['youtube'] %}
                <iframe id="youtube" width="100%" height="315" src="{{ song['youtube']|replace('watch?v=', 'embed/') }}" frameborder="0" allowfullscreen></iframe>
            {% else %}
                <a target="_blank" class="btn btn-primary btn-sm" href="https://www.youtube.com/results?search_query={{ song['name'] }}+{{ song['composer'] }}+{{ song['copyright'] }}">搜索YouTube</a>
            {% endif %}
            <p></p>
            <label for="youtube">視頻鏈接</label>
            <input class="form-control" type="text" name="youtube" value="{{ song['youtube'] }}">
            <p></p>
            <button class="btn btn-success btn-sm" type="submit" name="update_youtube" formaction="/{{ song['id'] }}/update">更新鏈接</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            {{ save_delete_buttons(song) }}
        </div>
    </div>
</form>

{% endblock %}
