{% extends "master.html.j2" %}

{% block title_extension %}
    詩歌
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-8">
        <form method="post">
            <a class="btn btn-success btn-md" href="/songs/add">增添</a>
            <a class="btn btn-danger btn-md" href="/songs/clean">清理數據庫</a>
        </form>
    </div>
    <div class="col-4">
        <input class="form-control" id="search" onkeyup="search()" placeholder="搜索"></input>
    </div>
</div>
<hr>
<!-- Table Section -->
<div class="row">
    <div class="col-12">
        <table class="table table-hover" id="table">
            <thead>
                <tr>
                    <th>歌名</th>
                    <th style="display:none">拼音</th>
                    <th>詞曲</th>
                    <th>版權</th>
                    <th>幻燈片</th>
                    <th>歌譜</th>
                    <th>視頻</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for song in all_songs %}
                    <tr>
                        <td><a href="/songs/{{ song.eid }}">{{ song['name'] }}</a></td>
                        <!-- Enable search by pinyin -->
                        <td style="display:none">{{ song['pinyin'] }}</td>
                        <td>
                            {% if song['composer'] %}
                                <!-- <a href="/songs/search/{{ song['composer'] }}">{{ song['composer']|truncate(20) }}</a> -->
                                {{ song['composer']|truncate(20) }}
                            {% endif %}
                        </td>
                        <td>
                            {% if song['copyright'] %}
                                <!-- <a href="/songs/search/{{ song['copyright'] }}">{{ song['copyright'] }}</a> -->
                                {{ song['copyright'] }}
                            {% endif %}
                        </td>
                        <td>
                            {% if song['default_arrangement'] %}
                                <a href="/songs/{{ song.eid }}/slides" align="center">
                                    <i class="fa fa-desktop" aria-hidden="true"></i>
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            {% if song['sheet_music'] %}
                                <a href="https://s3.amazonaws.com/worship-manager/{{ song.sheet_music }}"><i class="fa fa-paperclip" aria-hidden="true"></i></a>
                            {% endif %}
                        </td>
                        <td>
                            {% if song['youtube'] %}
                                <a href="{{ song['youtube'] }}"><i class="fa fa-play-circle" aria-hidden="true"></i></a>
                            {% endif %}
                        </td>

                        <td>{% if not song['name'] %}<a href="/songs/{{ song.eid }}/edit">剪輯</a>{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</div>
{% endblock %}
